[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "sources/meta-bbb"]
	path = sources/meta-bbb
	url = https://github.com/jumpnow/meta-bbb.git
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
